<div class="content">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <a routerLink="/connections-walker" class="my-card-link">
        <div class="card my-card shadow">
          <img
            src="assets/img/dog_connection.svg"
            class="card-img-top connection-img"
            alt="Dog connection"
          />
          <div class="card-body">
            <h5 class="card-title">Połączenia z psami</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="col">
      <a href="#" class="my-card-link">
        <div class="card my-card shadow">
          <img
            src="assets/img/dog_walker_connection.svg"
            class="connection-img card-img-top"
            alt="Dog walker connction"
          />
          <div class="card-body">
            <h5 class="card-title">Połączenia z wyprowadzaczami</h5>
            <p class="card-text">
              This is a longer card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
