<div class="content">
  <section class="vh-100 mt-5">
    <div class="container-fluid align-middle">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-9 col-xl-9">
          <img
            src="assets/img/welcome_page.svg"
            class="img-fluid mb-4"
            alt="Sample image"
          />
        </div>
        <div class="col-md-7 col-lg-7 col-xl-7 text-center">
          <h1 class="display-3">Witaj na PSINDERZE!</h1>
          <p class="lead">
            Szukasz psa do wyprowadzenia? Aplikacja pozwoli Ci na wyszukania
            psów w Twojej okolicy!
            <button class="button-5" role="button" routerLink="/pets">
              Szukaj psa
            </button>
          </p>
          <p class="lead">
            Nie masz czasu żeby wyprowadzić swojego psa? Dodaj psa żeby inni
            mogli go znaleźć!
            <button class="button-5" role="button" routerLink="/pets">
              Dodaj psa
            </button>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
