:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

body{
  font-family:Poppins,sans-serif;
  font-weight:400;
  font-size:16px;
  line-height:1.625;
  color:#666;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a{
  color: #ff9100;
  text-decoration: none;
}

a:hover {
  color: #ff9100;
  text-decoration: none;
}

/* ========================= */
/*          TOOLBAR          */
/* ========================= */
.toolbar {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

a.logo {
  color: white;
  margin: 0px 15px 0px 30px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, #ff9100, #ff9100 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

a.logo:hover {
  background-position: 0 100%;
}

.toolbar .logo span {
  margin-left: 10px;
  font-size: 25px;
}

.nav-link.btn {
  width: 150px;
}

/* ========================= */
/*          XXXXXXX          */
/* ========================= */

.content {
  display: flex;
  margin: 42px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  height:85vh;
  flex-direction: column;
  align-items: center;
}

.link-color, 
.link-color:hover {
  color: #ff9100;
  text-decoration: none;
}



